@keyframes scroll-left {
  0% {
    transform: translateX(20vw);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(-20vw);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes jump {
  0% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}

.scroll-left {
  transform: translateX(20vw);

  &.in-view {
    animation: scroll-left 1s ease-in-out forwards;
  }
}

.scroll-right {
  transform: translateX(-20vw);
  &.in-view {
    animation: scroll-right 1s ease-in-out forwards;
  }
}

.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in-out;

  &.in-view {
    opacity: 1;
  }
}

.from-left, .from-right, .from-top, .from-bottom {
  opacity: 0;
  transition: all 1s ease-in-out;

  &.fast {
    transition: all .5s ease-in-out;
  }

  &.in-view {
    opacity: 1;
    transform: none;
  }
}

.from-left {
  transform: translateX(-20px);
}

.from-right {
  transform: translateX(20px);
}

.from-top {
  transform: translateY(-20px);
}

.from-bottom {
  transform: translateY(20px);
}